#chart-container {
   border: 1px solid black;
   width: 250px;
}

.tooltip {
  width: auto;
  padding: 5px 10px;
  background-color:#ffffff;
  
  border:1px solid black;
  font-family:sans-serif;
  font-weight:100;
  font-size:14px;
  line-height:normal;
}

.category-0 {
   fill: green; 
}

.category-1 {
   fill: blue; 
}

.category-2 {
   fill: orange; 
}

.category-3 {
   fill: red; 
}

.active-point{
  stroke: black;
  stroke-width: 10px;
  stroke-opacity: .1; 
}